.diaSetmana {
    background-color: lightgray;
}

.horaDia {
    background-color: rgb(161, 150, 150);
}

.textWhite {
    color: whitesmoke;
}

.AW {
    background-color: rgb(216, 155, 155);
  
}

.MME {
    background-color: rgba(255, 214, 81, 0.74);
   
}

.SOM {
    background-color: rgb(55, 135, 205);
   
}

.IPO2 {
    background-color: rgb(255, 221, 0);
   
}

.IPO1 {
    background-color: rgba(100, 25, 100, 0.413);
   
}

.AO {
    background-color: rgba(19, 238, 74, 0.819);
   
}

.ANG {
    background-color: rgb(255, 251, 0);
   
}

.XL {
    background-color: rgba(186, 46, 55, 0.778);
   
}

.TUTORIA {
    background-color: rgba(122, 122, 114, 0.601);
   
}
.M-OPTATIU2 {
    background-color: rgba(21, 89, 3, 0.345);
   
}

.pati {
    background-color: rgb(0, 0, 0);
   
}